#mycanvas{
    margin-top: 100px;
    height: 550px;
    width: 950px;    
    margin: 15px;
    padding: 16px;
    border: 7px solid black;
    background-color:grey;
    
}
 
.container{
    text-align: center;
}
.restart{
    float: right;
    margin-top: 25px;
    height: 28px;
    width: 65px;
    margin-right: 32px;
    background-color: chartreuse;
}
.rule{
    float: right;  
}